html{
  scroll-behavior: smooth;
}

body{
  margin: 0 auto; 
  background-color: #FFF6D3; 
}

/*Typography*/

h2{
    font-size: 55px; 
    color: #E00096;
    line-height: 70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }

  h1{
    font-size: 100px; 
    color: #E00096; 
    line-height: 450px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }

  p{
    line-height: 30px;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 200px auto;
  }
  
  .button-link{
	  padding: 15px 25px;
	  background-color: #FFBE3C;
	  background-image: linear-gradient(#FFBE3C,#FFECC3);
    border-style: solid;
    border-color:#FF74E6;
    border-radius: 35%;
    font-weight: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #E00096;
    width: 150px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
  }

  .button-alert{
    padding: 15px 25px;
	  background-color: #FFBE3C;
	  background-image: linear-gradient(#FFBE3C,#FFECC3);
    border-style: solid;
    border-color:#FF74E6;
    border-radius: 35%;
    font-weight: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #E00096;
    width: 150px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
    
    nav{
      padding: 20 px;
      background-color:#FFE0F3;
      position: fixed;
      width: 100%;
      box-shadow: 5px 20px 10px #D4F8FF;
   }
   .nav-links{
      list-style-type: none;
      text-align: center;
      padding: 10px;
   }

   .nav-links li{
      display: inline;
      font-family: 'Tilt Neon', cursive;
      font-size: 35px;
      margin: 0 auto;
      width: 500px;
      text-decoration: none;
      color:#4F4F4F; 
   }

   .nav-links li a{
      padding-left: 80px;
      padding-right: 80px;
      text-decoration: none;
      color:#4F4F4F
   }

    .top-banner{
      height: 500px;
      text-align: center;
      padding-top: 110px;
      background-color:#FFF8DD;
      background-image: url("https://images.pexels.com/photos/4386125/pexels-photo-4386125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-size: cover;
      background-attachment: fixed;
    }

    .main_content{
      max-width: 800px;
      margin: 0 auto;
      padding: 0 10px;
    }

    img {
      width: 100%;
      margin-left: 0 auto;
    }

    footer{
      max-width: 800px;
      margin: 0 auto;
      padding: 0 10px;
      margin-top: 20px;
    }

    /* Mobile Styles */

    @media only screen and (max-width: 600px) {
      
      body{
        background-color: #000;  
    }
  
    h1{
      font-size: 60px; 
      color: #FFB2E5; 
      background-color: #888;
    }

    h2{
      font-size: 20px; 
      color: #fff; 
    }

  }
