html{
  scroll-behavior: smooth;
}

body{
  margin: 0; 
  background-color: #FFF6D3;  
}

/*Typography*/

h2{
    font-size: 55px; 
    color: #FFB2E5; 
    line-height: 70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }

  h1{
    font-size: 75px; 
    color: #FFB2E5; 
    line-height: 200px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }

  p{
    line-height: 30px;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 200px auto;
  }
  
  .button-link{
	  padding: 15px 25px;
	  background-color: #FFBE3C;
	  background-image: linear-gradient(#FFBE3C,#FFECC3);
    border-style: solid;
    border-color:#FF74E6;
    border-radius: 35%;
    font-weight: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #94C37C;
    width: 150px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
  }

  .button-alert{
    padding: 15px 25px;
	  background-color: #FFBE3C;
	  background-image: linear-gradient(#FFBE3C,#FFECC3);
    border-style: solid;
    border-color:#FF74E6;
    border-radius: 35%;
    font-weight: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #94C37C;
    width: 150px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
  }
    
    nav{
      padding: 20 px;
      background-color:#FFBEEE;
      position: fixed;
      width: 100%;
      box-shadow: 5px 20px 10px #D4F8FF;
   }
   .nav-links{
      list-style-type: none;
      text-align: center;
      padding: 10px;
   }

   .nav-links li{
      display: inline;
      font-family: 'Tilt Neon', cursive;
      font-size: 35px;
      margin: 0 auto;
      width: 500px;
      text-decoration: none;
      color:#FFF6D3; 
   }

   .nav-links li a{
      padding-left: 80px;
      padding-right: 80px;
      text-decoration: none;
      color:#FFECC3
   }

    .top-banner{
      height: 240px;
      text-align: center;
      padding-top: 110px;
      background-color:#FFF8DD;
      background-image: url("https://images.pexels.com/photos/4386125/pexels-photo-4386125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }

    .main_content{
      max-width: 800px;
      margin: 0 auto;
      padding: 0 10px;
    }

    footer{
      max-width: 800px;
      margin: 0 auto;
      padding: 0 10px;
    }
